.my_shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    transition: box-shadow 0.3s;
    font: 400 13px 'Open Sans', Arial, sans-serif;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  }
}
.f_asearch_tlt_dv {
    background: #0092c5;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 0 0 !important;
}
.f_asearch_rr_cnt {
    padding: 25px 10px;
}

.f_site_row {
    padding-bottom: 20px !important;
  @media (max-width: 991px) {
    padding-top: 1px;
  }
  &.f_asearch_l_btn {
    padding: 2px 0px !important;
    text-align: center;
    margin: 0px !important;
  }
}
.c_row {
    margin-left: -3px !important;
    margin-right: -3px !important;
    padding-bottom: 0px !important;
  div{
    padding-left: 2px;
    padding-right: 2px;
    input{
      width: 100%;
    }
  }
}
.f_asearch_l_btn {
    background: #59b5e4;
    border: 1px solid #59b5e4;
    padding: 2px;
    color: white;
    margin-right: 8%;
    min-height: 24px;
    &:hover {
        background: #0074a7;
        border: 1px solid #0074a7;
    }
}
.f_asearch_rr_cnt .row {
    padding-bottom: 10px;
}

.f_as_rr_label {
  @media only screen and (max-width: 991px){
    text-align: left !important;
    padding-bottom: 5px;
  }
}
.f_r_s_slt {
    width: 100% !important;
    height: 28px;
    padding: 2px;
    border-radius: 3px;
    overflow-y: scroll;
}
.f_as_year_slt{
  padding-left: 5px!important;
  padding-right: 0!important;
}
.g_slt {
    width: 92%;
    padding: 3px 10px;
    border: 1px solid silver;
    border-radius: 3px !important;
    opacity: {
        margin-left: 10px!important;
    };
}
.g_txt_right {
    text-align: right;
    margin-top: 3px;
  @media (max-width: 991px) {
    margin-top: 0;
  }
}
#f_search_finder_btn {
    background: #59b5e4;
    border: 1px solid #59b5e4;
    padding: 2px 20px;
    color: white;
    margin-right: 0;
    margin-top: 7px;
    min-height: 24px;
    &:hover{
        background-color: #0074a7;
    }
  @media (max-width: 991px) {
    margin-top: 11px;
  }
}
.g_txt_center {
    text-align: center;
    margin-top: 5px;
}

.f_asearch_cnt_dv {
    background: white;
    min-height: 380px;
}
select:disabled{
  background-color: #b6b6b6;
  color: black!important;
  -webkit-text-fill-color: black!important;
}

