.loading-bg{
  width: 200px;
  height: 70px;
  border: solid 2px #dfa8ff!important;
  margin: 0;
  background: url("/assets/product/custom/imgs/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.loading-panel{
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  z-index: 10000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
