Django==2.0.2
requests==2.22.0
django-constance==2.1.0
django-imagekit==4.0.2
django-jet==1.0.7
django-picklefield==1.0.0
feedparser==5.2.1
google-api-python-client==1.4.1
mock==2.0.0
python-memcached==1.59
pytz==2018.3
Unipath==1.1
selenium==3.141.0
django-celery-beat==1.5.0
websockets==5.0
lxml==4.3.3
psycopg2==2.8.2
psycopg2-binary==2.8.2
redis==3.2.0
whitenoise==4.1.2
pillow==6.0.0
