{% extends 'product/base.html' %}
{% load static %}
{% load imagekit %}

{% block title %}Detail Sold{% endblock %}

{% block content %}
    <div class="main f_car_detail_main">
        <div class="container">
            <div class="row f_asearch_tdv f_detail_cnt_dv">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 f_l_detail_photo_cnt">
                    <div>
                        <div class="f_detail_item_tlt">2005 MAZDA 3 I</div>
                        <a href="{% static 'product/custom/imgs/cars/1.jpg' %}"
                           class="btn btn-default fancybox-button f_detail_main_img_a">
                            <img class="f_l_detail_photo" src="{% static 'product/custom/imgs/cars/1.jpg' %}">
                        </a>
                        <div class="f_detail_img_view_all_photos">View All Photos</div>
                        <div class="f_detail_img_foregoing">Foregoing</div>
                    </div>
                    <div class="f_l_d_p_c_causel">
                        <div class="row">
                            <div class="span12">
                                <div class="well p_d_well">
                                    <div id="myCarousel" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/2.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/3.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/4.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/5.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/6.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/7.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/8.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/9.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/10.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                    <div class="col-md-3 col-xs-3">
                                                        <a href="#x" class="thumbnail"><img class="p_a_gallery_sub_img"
                                                                                            src="{% static 'product/custom/imgs/cars/11.jpg' %}"
                                                                                            alt="Image"
                                                                                            style="max-width:100%;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control f_detail_arrow_a" href="#myCarousel"
                                           data-slide="prev">‹</a>
                                        <a class="right carousel-control f_detail_arrow_a" href="#myCarousel"
                                           data-slide="next">›</a>
                                    </div><!--/myCarousel-->

                                </div><!--/well-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 f_detail_infos_dv">
                    <div class="row f_detail_right_side_top_row">
                        <div class="col-md-6 col-xs-12">
                            <div class="f_asearch_tlt_dv">Lot #341238479</div>
                            <div class="f_detail_info_cnt">
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">Doc Type:</div>
                                    <div class="col-md-7 g_txt_right">MI - CERTIFICATE</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">Odometer:</div>
                                    <div class="col-md-7 g_txt_right">265,865 mi (EXEMPT)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">Highlights:</div>
                                    <div class="col-md-7 g_txt_right">Run and Drive</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-7">Primary Damage:</div>
                                    <div class="col-md-5 g_txt_right">SCRATCHES</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-7">Secondary Damage:</div>
                                    <div class="col-md-5 g_txt_right"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-7">Est.Retail Value:</div>
                                    <div class="col-md-5 g_txt_right"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-7">VIN:</div>
                                    <div class="col-md-5 g_txt_right">JM1BK12F251***</div>
                                </div>
                            </div>
                            <div class="f_asearch_tlt_dv">Features</div>
                            <div class="f_detail_info_cnt">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Body Style:</div>
                                    <div class="col-md-6 g_txt_right">SEDAN 4D</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Color:</div>
                                    <div class="col-md-6 g_txt_right">SILVER</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Engine Type:</div>
                                    <div class="col-md-6 g_txt_right">2.0L 4</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Cylinders:</div>
                                    <div class="col-md-6 g_txt_right">4</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Transmission:</div>
                                    <div class="col-md-6 g_txt_right">AUTOMATIC</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Drive:</div>
                                    <div class="col-md-6 g_txt_right">Front-wheel Drive</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Fuel:</div>
                                    <div class="col-md-6 g_txt_right">GAS</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Keys:</div>
                                    <div class="col-md-6 g_txt_right">YES</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Notes:</div>
                                    <div class="col-md-6 g_txt_right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="f_asearch_tlt_dv">Bid Information</div>
                            <div class="f_detail_bid_tlt_r">LOT SOLD for $1230</div>
                            <div class="f_detail_info_cnt">
                                <div class="f_detail_bid_cnt_r">
                                    Browser our current inventory of <br> 2016 MERCEDES-BENZ GL 450 4MATIC <br>
                                    <input type="button" class="f_asearch_l_btn f_detail_find_more_btn"
                                           value="Find More Like This">
                                </div>
                            </div>
                            <div class="f_asearch_tlt_dv">Sale Information</div>
                            <div class="f_detail_info_cnt">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Location:</div>
                                    <div class="col-md-6 g_txt_right">MI - DETROIT Inspection Services</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Lane/Item/Grid/Row:</div>
                                    <div class="col-md-6 g_txt_right">A/55/SE001</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Sale Name:</div>
                                    <div class="col-md-6 g_txt_right">MI - DETROIT</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Sale Date:</div>
                                    <div class="col-md-6 g_txt_right">Fri. Sep 07, 2018 08:00 PM OMST</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">Last Updated:</div>
                                    <div class="col-md-6 g_txt_right">09/07/2018 7:14 pm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f_new_arrivals">
                <div class="f_asearch_tlt_dv">Similar Vehicles</div>
                <div class="row f_new_arrival_cnts">
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="{% static 'product/custom/imgs/cars/1.jpg' %}" class="img-responsive"
                                     alt="Berry Lace Dress">
                                <div>
                                    <a href="{% static 'product/custom/imgs/cars/1.jpg' %}"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                </div>
                            </div>
                            <h3><a href="#" class="g_txt_bold">Berry Lace Dress</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">View</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="{% static 'product/custom/imgs/cars/2.jpg' %}" class="img-responsive"
                                     alt="Berry Lace Dress">
                                <div>
                                    <a href="{% static 'product/custom/imgs/cars/2.jpg' %}"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                </div>
                            </div>
                            <h3><a href="#" class="g_txt_bold">Berry Lace Dress</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">View</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="{% static 'product/custom/imgs/cars/3.jpg' %}" class="img-responsive"
                                     alt="Berry Lace Dress">
                                <div>
                                    <a href="{% static 'product/custom/imgs/cars/3.jpg' %}"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                </div>
                            </div>
                            <h3><a href="#" class="g_txt_bold">Berry Lace Dress</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">View</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="{% static 'product/custom/imgs/cars/4.jpg' %}" class="img-responsive"
                                     alt="Berry Lace Dress">
                                <div>
                                    <a href="{% static 'product/custom/imgs/cars/4.jpg' %}"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                </div>
                            </div>
                            <h3><a href="#" class="g_txt_bold">Berry Lace Dress</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">VIEW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {#    <script src="{% static 'product/plugins/respond.min.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/corporate/scripts/back-to-top.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script><!-- pop up -->#}
    {#    <script src="{% static 'product/plugins/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script><!-- slider for products -->#}
    {#    <script src="{% static 'product/plugins/zoom/jquery.zoom.min.js' %}" type="text/javascript"></script><!-- product zoom -->#}
    {#    <script src="{% static 'product/plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}" type="text/javascript"></script><!-- Quantity -->#}
    {#    <script src="{% static 'product/corporate/scripts/layout.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/pages/scripts/bs-carousel.js' %}" type="text/javascript"></script>#}
{% endblock %}
