{% extends 'product/base.html' %}
{% load static %}
{% load imagekit %}
{% load humanize %}
{% load extra_filters %}

{% block title %}List{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body_style %}
    style="font-size: 11px"
{% endblock %}

{% block content %}
    <div class="main" id="f_lr_main_dv">
        <div class="container">
            <div class="row f_asearch_tdv">
                <div class="f_list_filter_dv">
                    <div class="f_asearch_tlt_dv" id="filter">Filters <i
                            class="material-icons f_list_left_filter_min_i">line_weight</i></div>
                    <div class="f_asearch_cnt_dv f_list_filter_cnt Check">
                        <div>
                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-minus-square"></i>Sites</div>
                            <div class="f_l_f_cnt">
                                <input type="radio" name="f_list_filter_site" id="flfc10"/><label
                                    for="flfc10">&nbsp;All</label> <br>
                                <input type="radio" name="f_list_filter_site" id="flfc11"/><label for="flfc11">&nbsp;Copart
                                (608)</label> <br>
                                <input type="radio" name="f_list_filter_site" id="flfc12"/><label for="flfc12">&nbsp;IAAI
                                (30)</label> <br>
                            </div>

                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-minus-square"></i>Already Solded</div>
                            <div class="f_l_f_cnt f_l_f_cnt_sp">
                                <input type="checkbox" name="f_list_filter_site" id="flfc100"/><label for="flfc100">&nbsp;Show
                                Real Price (608)</label> <br>
                            </div>

                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-minus-square"></i>Featured Items</div>
                            <div class="f_l_f_cnt f_l_f_cnt_sp">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc21"/><label for="flfc21">Classics (608)</label> <br>
                                <input type="checkbox" id="flfc22"/><label for="flfc22">Buy It Now (30)</label> <br>
                                <input type="checkbox" id="flfc23"/><label for="flfc23">Engind Start Prog (387)</label>
                                <br>
                                <input type="checkbox" id="flfc24"/><label for="flfc24">Enhanced Vehicles (2366)</label>
                                <br>
                                <input type="checkbox" id="flfc25"/><label for="flfc25">Exotics (7)</label> <br>
                            </div>

                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-minus-square"></i>Make</div>
                            <div class="f_l_f_cnt f_l_f_cnt_sp">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc31"/><label for="flfc31">1982(608)</label> <br>
                                <input type="checkbox" id="flfc32"/><label for="flfc32">1983 (30)</label> <br>
                                <input type="checkbox" id="flfc33"/><label for="flfc33">1984 (387)</label> <br>
                                <input type="checkbox" id="flfc34"/><label for="flfc34">1985 (2366)</label> <br>
                                <input type="checkbox" id="flfc35"/><label for="flfc35">1986 (7)</label> <br>
                            </div>
                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-minus-square"></i>Model</div>
                            <div class="f_l_f_cnt f_l_f_cnt_sp">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc41"/><label for="flfc41">31 (608)</label> <br>
                                <input type="checkbox" id="flfc42"/><label for="flfc42">3S (30)</label> <br>
                                <input type="checkbox" id="flfc43"/><label for="flfc43">3.2tl (387)</label> <br>
                                <input type="checkbox" id="flfc44"/><label for="flfc44">3251(2366)</label> <br>
                                <input type="checkbox" id="flfc45"/><label for="flfc45">4runner (7)</label> <br>
                            </div>
                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-minus-square"></i>Year</div>
                            <div class="f_l_f_cnt f_l_f_cnt_sp">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc51"/><label for="flfc21">2017 (608)</label> <br>
                                <input type="checkbox" id="flfc52"/><label for="flfc22">2016 (30)</label> <br>
                                <input type="checkbox" id="flfc53"/><label for="flfc23">2015 (387)</label> <br>
                                <input type="checkbox" id="flfc54"/><label for="flfc24">2014 (2366)</label> <br>
                                <input type="checkbox" id="flfc55"/><label for="flfc25">2013 (7)</label> <br>
                            </div>
                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-plus-square"></i>Odmeter</div>
                            <div class="f_l_f_cnt g_none_dis">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc61"/><label for="flfc61">Less than 25000 (608)</label>
                                <br>
                                <input type="checkbox" id="flfc62"/><label for="flfc62">2500 to 50000 (30)</label> <br>
                                <input type="checkbox" id="flfc63"/><label for="flfc63">50001 to 75000 (387)</label>
                                <br>
                                <input type="checkbox" id="flfc64"/><label for="flfc64">75001 to 100000 (2366)</label>
                                <br>
                                <input type="checkbox" id="flfc65"/><label for="flfc65">10001 to 150000 (7)</label> <br>
                            </div>
                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-plus-square"></i>Location</div>
                            <div class="f_l_f_cnt g_none_dis">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc71"/><label for="flfc71">AK-ANCHORAGE (608)</label> <br>
                                <input type="checkbox" id="flfc72"/><label for="flfc72">AL-BIRMINGHAM (30)</label> <br>
                                <input type="checkbox" id="flfc73"/><label for="flfc73">AL-MOBILE (387)</label> <br>
                                <input type="checkbox" id="flfc74"/><label for="flfc74">AL-MONTGOMERY (2366)</label>
                                <br>
                                <input type="checkbox" id="flfc75"/><label for="flfc75">AL-TRANNER(7)</label> <br>
                            </div>
                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-plus-square"></i>Sale Name</div>
                            <div class="f_l_f_cnt g_none_dis">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc81"/><label for="flfc81">AK-ANCHORAGE (608)</label> <br>
                                <input type="checkbox" id="flfc82"/><label for="flfc82">AL-BIRMINGHAM (30)</label> <br>
                                <input type="checkbox" id="flfc83"/><label for="flfc83">AL-MOBILE (387)</label> <br>
                                <input type="checkbox" id="flfc84"/><label for="flfc84">AL-MONTGOMERY (2366)</label>
                                <br>
                                <input type="checkbox" id="flfc85"/><label for="flfc85">AL-TRANNER (7)</label> <br>
                            </div>
                            <div class="f_l_f_tlt"><i class="fa fa-fw fa-plus-square"></i>Featured Items</div>
                            <div class="f_l_f_cnt g_none_dis">
                                <input type="text" class="g_ipt" placeholder="Search"/>
                                <input type="checkbox" id="flfc91"/><label for="flfc91">09/08/2018 (608)</label> <br>
                                <input type="checkbox" id="flfc92"/><label for="flfc92">09/12/2018 (30)</label> <br>
                                <input type="checkbox" id="flfc93"/><label for="flfc93">09/14/2018 (387)</label> <br>
                                <input type="checkbox" id="flfc94"/><label for="flfc94">09/15/2018 (2366)</label> <br>
                                <input type="checkbox" id="flfc95"/><label for="flfc95">09/18/2018 (7)</label> <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f_list_search_result_cnt_dv">
                    <div class="f_asearch_tlt_dv">Search results for: {{ from_year }} to {{ to_year }}</div>
                    <div class="f_list_cnt_tdv">
                        <div class="f_l_c_filter_applied">
                            Filters Applied:
                            <div>
                                <div class="f_l_f_a_item">Classis<img class="f_list_fr_close"
                                                                      src="{% static 'product/custom/imgs/close.png' %}"/>
                                </div>
                                <div class="f_l_f_a_item">Hot Items<img class="f_list_fr_close"
                                                                        src="{% static 'product/custom/imgs/close.png' %} "/>
                                </div>
                                <div class="f_l_f_a_item">Bmw<img class="f_list_fr_close"
                                                                  src="{% static 'product/custom/imgs/close.png' %} "/>
                                </div>
                                <div class="f_l_f_a_item">Integra Ls<img class="f_list_fr_close"
                                                                         src="{% static 'product/custom/imgs/close.png' %} "/>
                                </div>
                                <div class="f_l_f_a_item">Honda<img class="f_list_fr_close"
                                                                    src="{% static 'product/custom/imgs/close.png' %} "/>
                                </div>
                                <div class="f_l_f_a_item">Ford<img class="f_list_fr_close"
                                                                   src="{% static 'product/custom/imgs/close.png' %} "/>
                                </div>
                            </div>
                        </div>
                        <div class="f_search_result_tb_top">
                            <div class="row f_r_r_tb_top_top">
                                <div class="col-md-6 col-xs-5 f_l_s_f_sp">Showing 1 to 10 <span class="f_list_page_num">of 100 entries</span>
                                </div>
                                <div class="col-md-6 col-xs-7 f_l_s_f_sp g_txt_right">Search : <input type="text"
                                                                                                      class="f_f_r_t_search_ipt"
                                                                                                      placeholder=" By Lot or VIN"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-5 f_l_s_f_sp">Show
                                    <select class="f_f_r_t_scnt_slt">
                                        <option value="10">10</option>
                                        <option value="10">25</option>
                                        <option value="10">50</option>
                                        <option value="10">100</option>
                                    </select><span class="f_list_page_num"> entries</span>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-7 f_l_s_f_sp g_txt_right f_f_r_pagin_btns">
                                    <div>Last</div>
                                    <div>Next</div>
                                    <div class="f_list_page_num">3</div>
                                    <div class="f_list_page_num">2</div>
                                    <div class="f_paging_active f_list_page_num">1</div>
                                    <div>Previous</div>
                                    <div>First</div>
                                </div>
                            </div>
                        </div>
                        <div class="f_l_filer_tb_dv">
                            <table id="c_seach_tb" class="table table-striped table-bordered dt-responsive"
                                   style="width:100%">
                                <thead>
                                <tr class="h">
                                    <th class="h">Images</th>
                                    <th class="h">Year</th>
                                    <th class="h">Make</th>
                                    <th class="h">Model</th>
                                    <th class="h">Location</th>
                                    <th class="h">Sale Date</th>
                                    <th class="h">Odometer</th>
                                    <th class="h">Doc Type</th>
                                    <th class="h">Damage</th>
                                    <th class="h">Retail Value</th>
                                    <th class="h">Current Bid</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lot in lots %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'detail_page' lot.lot %}">
                                                <img src="{{ lot.avatar }}" class="f_l_f_product_img"/>
                                                <div class="f_lr_td_img_dv">View All Photos</div>
                                            </a>
                                        </td>
                                        <td>{{ lot.year }}<br>
                                            <div class="f_l_y_s f_l_ss">S</div>
                                            <div class="f_l_y_s f_l_sr">R</div>
                                            <div class="f_l_y_s f_l_sd">D</div>
                                            <div class="f_l_y_s f_l_se">E</div>
                                        </td>
                                        <td>{{ lot.make }}</td>
                                        <td>{{ lot.model }}</td>
{#                                        <td>NY-LNG ISLAND <br> SF002</td>#}
                                        <td>{{ lot.location }}</td>
{#                                        <td>09/12/2018<br>08:00pm OMST</td>#}
                                        <td>{{ lot.sale_date }}</td>
{#                                        <td>260, 216 E</td>#}
                                        <td>{{ lot.odometer_orr|intcomma }}</td>
                                        <td>{{ lot.doc_type_ts }} - {{ lot.doc_type_stt }}</td>
                                        <td>{{ lot.lot_1st_damage }}</td>
                                        <td>${{ lot.retail_value|intcomma }} {{ lot.currency }}</td>
                                        <td>${{ lot.current_bid|intcomma }} {{ lot.currency }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row f_r_r_tb_top_top">
                            <div class="col-md-6 col-xs-5 f_l_s_f_sp">Showing 1 to 10 <span class="f_list_page_num">of 100 entries</span>
                            </div>
                            <div class="col-md-6 col-xs-7 f_l_s_f_sp g_txt_right">Search : <input type="text"
                                                                                                  class="f_f_r_t_search_ipt"
                                                                                                  placeholder=" By Lot or Vin"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5 f_l_s_f_sp">Show
                                <select class="f_f_r_t_scnt_slt">
                                    <option value="10">10</option>
                                    <option value="10">25</option>
                                    <option value="10">50</option>
                                    <option value="10">100</option>
                                </select><span class="f_list_page_num"> entries</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 f_l_s_f_sp g_txt_right f_f_r_pagin_btns">
                                <div>Last</div>
                                <div>Next</div>
                                <div class="f_list_page_num">3</div>
                                <div class="f_list_page_num">2</div>
                                <div class="f_paging_active f_list_page_num">1</div>
                                <div>Previous</div>
                                <div>First</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 g_txt_center f_f_r_t_goto_dv">
                                Go To Page <input type="text" class="f_f_r_t_goto_ipt"/><img class="f_lr_goto_page_img"
                                                                                             src="{% static 'product/custom/imgs/goto.png' %} "/>
                                <!-- <div class="f_lr_goto_page">Go</div>-->
                            </div>
                        </div>
                        <div class="row f_lr_back_top">
                            <div class="col-md-12 col-xs-12 g_txt_center f_list_goto_top_dv">
                                <img src="{% static 'product/custom/imgs/back_top.png' %} "/> &nbsp; Top
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="f_list_page_mark" value="1"/>
{% endblock %}

{% block extra_js %}
    {#    <script src="{% static 'product/plugins/respond.min.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/corporate/scripts/back-to-top.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script><!-- pop up -->#}
    {#    <script src="{% static 'product/plugins/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script><!-- slider for products -->#}
    {#    <script src="{% static 'product/plugins/zoom/jquery.zoom.min.js' %}" type="text/javascript"></script><!-- product zoom -->#}
    {#    <script src="{% static 'product/plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}" type="text/javascript"></script><!-- Quantity -->#}
    {#    <script src="{% static 'product/corporate/scripts/layout.js' %}" type="text/javascript"></script>#}
    {#    <script src="{% static 'product/pages/scripts/bs-carousel.js' %}" type="text/javascript"></script>#}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        });
    </script>
{% endblock %}
