.site-logo img {
    height: 45px;
    max-width: 300px;
}

.pre-footer {
    background: none !important;
}

.pre-footer .container {
    background: white !important;
    margin-bottom: 10px;
    color: #000 !important;
}

.pre-footer h2 {
    color: #000 !important;
}

.pre-footer-subscribe-box input {
    background: none !important;
}

.pre-footer-subscribe-box .input-group {
    border-color: silver !important;
}

.container {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

.f_header li {
    /*padding-left: 11px;*/
    /*padding-right: 15px;*/
    border-right: solid 1px #d8d8d8;
}

.f_header li a {
    color: gray;
}

.f_header li:last-child {
    border: none;
}

.f_phone_li {
    padding-left: 15px !important;
}

.f_lang_li {
    padding-right: 20px;
}

.f_search_dv {
    padding: 5px;
    margin-top: 30px;
}

.f_search_ipt {
    width: 100%;
    border: 1px solid silver;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px !important;
}

.f_search_btn {
    border: 1px solid #4a4a4a;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 100px;
    border-radius: 0px 5px 5px 0px !important;
    float: right;
    right: 0px;
    margin-top: -34px;
    z-index: 1000;
    position: relative;
    background-color: #4a4a4a;
    color: white;
}

.f_search_btn:hover {
    background: #625d5d;
}

.f_asearch_tdv {
    padding: 0 5px 50px 5px;
}

.f_asearch_tlt_dv {
    background: #0092c5;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 0 0 !important;
}

.f_asearch_cnt_dv {
    background: white;
    min-height: 380px;
}

.f_asearch_r_tabs {
    margin-top: 2px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.f_asearch_r_tabs > div {
    background: #f3f3f3;
    padding: 5px 20px;
    /*border-right: 1px solid white;*/
    border: 1px solid white;
    text-transform: uppercase;
    cursor: pointer;
}

.f_asearch_r_tab_clicked,
.f_asearch_r_tabs > div:hover {
    border-bottom: 1px solid gray;
    background: #e4e1e1 !important;
}

.f_asearch_r_cnts {
    padding: 0px 10px 20px 10px;
    height: 100%;
}

.f_asearch_r_cnts a {
    display: inherit;
    color: #1e1d2f;
    padding: 2px;
}

.f_asearch_rr_cnt {
    padding: 25px 10px;
}

.f_asearch_rr_cnt .row {
    padding-bottom: 10px;
}

.f_as_year_slt {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.f_asearch_l_btn {
    background: #59b5e4;
    border: 1px solid #59b5e4;
    padding: 2px 20px;
    color: white;
    /*margin-right: 8%;*/
    margin-top: 10px;
}

.f_asearch_l_btn:hover {
    background: #0074a7;
    border: 1px solid #0074a7;
}

.f_new_arrival_cnts {
    padding-top: 10px;
    padding-bottom: 50px;
}

.f_l_f_tlt {
    padding: 2px 10px;
    cursor: pointer;
    font-weight: bold;
}

.f_l_f_cnt {
    padding-left: 10px;
    padding-bottom: 10px;
}

.f_l_f_cnt input[type='checkbox'],
.f_l_f_cnt input[type='radio'] {
    margin-left: 5px;
    margin-right: 5px;
}

.f_l_f_cnt label {
    font-weight: normal;
}

.f_l_f_tlt i {
    margin-right: 5px;
}

.f_l_f_sub {
    max-height: 100px;
    overflow: auto;
}

.f_list_filter_cnt {
    padding-top: 10px !important;
    padding-bottom: 147px;
}

.f_list_cnt_tdv {
    background: white;
    min-height: 350px;
    padding: 10px;
}

.f_l_c_filter_applied {
    font-weight: bold;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
    padding-top: 10px;
}

.f_l_c_filter_applied div {
    display: inline-block;
}

.f_l_f_a_item {
    font-weight: normal;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    min-width: 70px;
    padding: 4px 5px 4px 10px;
    margin: 1px;
    cursor: pointer;
}

.f_l_f_a_item:hover {
    background: #dfdfdf;
}

.f_l_f_a_item i {
    float: right;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 30px;
    background: black;
    color: white;
    font-size: 9px;
    font-weight: 100;
    width: 12px;
    height: 12px;
    padding-bottom: 2px;
    margin-right: -5px;
}

.f_l_filer_tb_dv {
    padding-top: 20px;
}

.f_l_f_product_img {
    width: 100px;
}

.f_l_detail_photo {
    width: 100%;
}

.row-fluid div {
    float: left;
}

.thumbnail {
    margin-bottom: 0px !important;
    border: none;
}

.row-fluid img {
    width: 100px;
}

.p_a_gallery_sub_img {
    height: auto !important;
}

.f_l_d_p_c_causel .row {
    margin: 10px 0px;
    padding: 0px;
}

.p_d_well {
    padding: 0px !important;
    border: none !important;
}

.carousel {
    background: white;
    padding-left: 10px;
}

.carousel-control {
    font-size: 60px;
    background-image: none !important;
    opacity: 1 !important;
    padding-top: 12px;
}

.carousel-control.right {
    margin-right: -5%;
    margin-top: 1%;
}

.carousel-control.left {
    margin-left: -4%;
    margin-top: 1%;
}

.f_detail_item_tlt {
    font-size: 26px;
    font-weight: bold;
    padding: 0px 10px 3px;
}

.f_detail_main_img_a,
.f_detail_main_img_a:hover {
    width: 100% !important;
    color: white;
    background: none;
    border-color: white;
    padding: 0px !important;
}

.f_detail_info_cnt {
    background: white;
    padding: 10px 10px 30px;
    border: 1px solid silver;
    margin-bottom: 25px;
    border-radius: 0 0 5px 5px !important;
    transition: box-shadow 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.f_detail_info_cnt:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.f_detail_info_cnt .row {
    border-bottom: 1px solid #e8ecef;
    margin: 1px -3px;
    padding-top: 3px;
    padding-bottom: 6px;
    font-family: 'Open Sans', sans-serif !important;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: none !important;
}

.table-bordered th {
    padding-right: 0 !important;
}

table tbody tr td {
    width: 10%;

}

.carousel-inner .item .row div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.f_detail_infos_dv {
    padding-top: 15px;
}

.header .top-cart-block {
    margin-top: 40px !important;
}

.f_detail_img_foregoing {
    position: absolute;
    z-index: 1000;
    margin-top: -32px;
    margin-left: 142px;
    color: black;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
}

.f_detail_img_view_all_photos {
    position: absolute;
    z-index: 1000;
    margin-top: -32px;
    margin-left: 13px;
    color: black;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
}

.f_site_copart_btn {
    margin-right: 5px !important;
}

.f_site_row {
    padding-bottom: 20px !important;
}

.f_site_row .f_asearch_l_btn {
    width: 30%;
    padding: 2px 0px !important;
    text-align: center;
    margin: 0px !important;
}

.f_list_left_filter_min_i {
    float: right;
    cursor: pointer;
    display: none;
}

.f_list_fr_close {
    width: 12px;
    float: right;
    margin-top: 4px;
    margin-left: 10px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f1f1f1 !important;
    border-top: 1px solid #dddd;
    border-bottom: 1px solid #dddd;
}

#c_seach_tb {
    border-collapse: collapse !important;
}

.f_l_y_s {
    width: 17px;
    height: 17px;
    border-radius: 20px !important;
    text-align: center;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    font-size: 11px;
}

.f_l_y_d {
    width: 24px;
    height: 24px;
    border-radius: 24px !important;
    text-align: center;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-left: 4px;
    font-size: 18px;
}

.f_l_sr {
    border: 1px solid #90B23F;
    background: #90B23F;
}

.f_l_se {
    border: 1px solid #5EB0E5;
    background: #5EB0E5;
}

.f_l_ss {
    border: 1px solid #002878;
    background: #002878;
}

.f_l_sf {
    border: 1px solid #00A651;
    background: #00A651;
}

.f_l_so {
    border: 1px solid #8560A8;
    background: #8560A8;
}

.f_l_sd {
    border: 1px solid #005ABB;
    background: #005ABB;
}

.f_l_sb {
    border: 1px solid #9E005D;
    background: #9E005D;
}

#c_seach_tb_wrapper .row:first-child,
#c_seach_tb_wrapper .row:last-child {
    display: none;
}

.f_r_r_tb_top_top {
    padding: 10px 0px 3px;
    border-bottom: 1px solid silver;
    margin: 0px 0px 10px 0px;
}

.f_r_r_tb_top_top div:first-child {
    padding-left: 0px;
}

.f_r_r_tb_top_top div:last-child {
    padding-right: 0px;
}

.f_f_r_t_search_ipt {
    border-radius: 3px !important;
    border: 1px solid silver;
    padding: 3px;
}

.f_f_r_t_goto_ipt {
    border-radius: 3px !important;
    border: 1px solid silver;
    padding: 3px;
    width: 50px;
}

.f_f_r_t_scnt_slt {
    border: 1px solid silver;
    border-radius: 3px !important;
    margin: 0px 5px;
}

.f_f_r_pagin_btns div {
    display: table-cell;
    border: 1px solid silver;
    margin: 0px;
    float: right;
    border-right: none;
    padding: 3px 7px;
    color: #0d5db8;
    font-size: 12px;
    cursor: pointer;
}

.f_paging_active {
    background-color: #0d5db8;
    border: 1px solid #0d5db8 !important;
}

.f_paging_active a {
    color: white !important;
}

.f_list_page_num a {
    color: #0d5db8;
}

.f_paging_disabled {
    pointer-events: none;
    cursor: none;
    opacity: 0.6;
}

.f_f_r_pagin_btns div:first-child {
    border-right: 1px solid silver;
    border-radius: 0px 5px 5px 0px !important;
}

.f_f_r_pagin_btns div:last-child {
    border-radius: 5px 0px 0px 5px !important;
}

#c_seach_tb td {
    vertical-align: middle;
}

.f_lr_goto_page {
    display: inline-block;
    border: 1px solid #0d5db8;
    background: #0d5db8;
    border-radius: 3px !important;
    margin: 0px 10px;
    color: white;
    border-right: none;
    padding: 3px 7px;
    font-size: 12px;
    cursor: pointer;
}

.f_lr_goto_page_img {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.f_list_goto_top_dv {
    cursor: pointer;
}

.f_lr_back_top {
    border: 1px solid silver;
    margin: 20px 0px;
    padding: 5px;
    border-radius: 10px !important;
}

.f_lr_back_top a {
    color: #0d5db8;
}

.f_lr_back_top a:hover {
    text-decoration: none;
}

.f_lr_back_top img {
    width: 20px;
}

.f_lr_td_img_dv {
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 1;
    width: 100px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 2px;
    font-size: 11px;
    margin-top: -20px;
    z-index: 1000;
}

#c_seach_tb a {
    text-decoration: none;
}

.f_lr_td_img_dv:hover {
    background-color: rgb(0, 0, 0);
}

.f_detail_infos_dv .f_detail_info_cnt {
    color: #000 !important;
}

.f_detail_infos_dv .f_detail_info_cnt .g_txt_right {
    font-weight: 600;
}

.f_detail_bid_tlt_r {
    background: #EA3A32;
    margin: 0;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px
}

.f_detail_bid_cnt_r {
    font-weight: bold;
    text-align: center;
}

.f_detail_bid_cnt_r input {
    font-weight: normal;
    padding: 3px 30px;
}

.f_arrival_extend_div {
    /*border: 1px solid #d3d3d3;*/
    /*border-radius: 3px !important;*/
    cursor: pointer;
    text-align: center;
    padding: 3px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.f_arrival_extend_div:hover {
    /*border-color: gray;*/
}

.f_arrival_extend_img {
    height: 20px;
}

.f_new_arrival_cnts .product-item {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.f_new_arrival_cnts .product-item img {
	border-radius: 5px 5px 5px 5px !important;
}

.all_brd_round_5 {
    border-radius: 5px 5px 5px 5px !important;
}

.add2cart {
    border: 0 !important;
}

.product-item .add2cart:hover {
    color: #000 !important;
    background: none !important;
}

body {
    color: #02396f;
}

.my_shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    transition: box-shadow 0.3s;
}

.my_shadow:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.f_pi_detail {
    padding-left: 10px;
    padding-right: 10px;
}

.f_detail_cnt_dv > div {
    padding-left: 2px !important;
    padding-right: 15px !important;
}

.f_detail_right_side_top_row > div {
    padding-left: 5px !important;
    padding-right: 2px !important;
}

.f_detail_find_more_btn {
    margin-right: 0px !important;
}

.c_row {
    margin-left: -3px !important;
    margin-right: -3px !important;
    padding-bottom: 0px !important;
}

.c_row > div {
    padding-left: 2px;
    padding-right: 2px;
}

.c_row > div input {
    width: 100% !important;
}

.f_r_s_slt {
    width: 100% !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    content: 'i' !important;
}

.f_list_filter_dv {
    width: 200px;
    display: inline-block;
}

.f_list_search_result_cnt_dv {
    /*display: inline-block;*/
    float: right;
    width: 100%;
    width: calc(100vw - 245px);
}

.f_100_wth {
    width: 100% !important;
}

.f_d_seller_r {
    font-size: 11px !important;
}

@media only screen and (min-width: 992px) {
    .Check {
        display: block !important;
    }
}

@media only screen and (max-width: 1280px) {
    .site-logo {
        margin-right: 0px;
    }

    .site-logo img {
        width: 100%;
        height: auto;
    }

    .f_detail_img_foregoing {
        margin-top: -30px;
        margin-left: 126px;
        font-size: 12px;
    }

    .f_detail_img_view_all_photos {
        margin-top: -30px;
        margin-left: 13px;
        font-size: 12px;
    }

}

@media only screen and (max-width: 1600px) {
    .f_max_1280 {
        display: block;
    }

    .f_min_1280 {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .f_max_1280 {
        display: none;
    }

    .f_min_1280 {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .f_lang_li {
        padding-right: 60px;
    }

    .f_search_ipt {
        font-size: 12px !important;
    }

    .f_search_btn {
        font-size: 12px !important;
        margin-top: -29px;
    }
}

@media only screen and (max-width: 992px) {
    .f_as_rr_label {
        text-align: left !important;
        padding-bottom: 5px;
    }

    .f_list_left_filter_min_i {
        display: block;
    }

    .f_list_filter_cnt {
        display: none;
        border: 1px solid #f5f5f5;
        box-shadow: 1px 1px 1px silver;
        padding-bottom: 20px !important;
    }

    .f_list_search_result_cnt_dv {
        width: 100% !important;
    }

    .f_list_search_result_cnt_dv {
        margin-top: 20px;
    }

    .f_list_filter_dv {
        position: absolute;
        z-index: 1000;
        margin-top: -20px;
    }

    .ecommerce .site-logo {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }

    .f_search_dv {
        margin-top: 0px;
    }

    .header .top-cart-block {
        margin-top: 5px !important;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 992px) {
    .f_list_filter_cnt {
        display: block;
    }

    .f_list_fr_close {
        width: 10px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 520px) {
    .f_l_s_f_sp {
        /*width: 100% !important;*/
        /*padding-bottom: 5px !important;*/
        /*text-align: center!important;*/
    }

    .f_list_page_num {
        display: none !important;
    }

    .f_f_r_t_search_ipt {
        width: 100px !important;
    }

    .f_f_r_pagin_btns div {
        padding: 3px 2px !important;
    }

    .f_f_r_t_goto_dv {
        padding-top: 10px;
    }

    .f_l_sr_dv {
        width: 100% !important;
    }
}

@media only screen and (max-width: 640px) {
    .f_car_detail_main {
        margin-right: -15px !important;
    }
}

@media (min-width: 1282px) {
    #c_seach_tb td {
        font-size: 13px;
    }
}

.f_l_filer_tb_dv .table th:last-child {
    min-width: 120px !important;
}

.f_l_filer_tb_dv .table td:last-child {
    min-width: 120px !important;
}

@media (min-width: 1600px) {
    .f_l_filer_tb_dv .table th:first-child {
        width: 120px !important;
    }

    .f_l_filer_tb_dv .table th:last-child {
        min-width: 250px !important;

    }

    .f_l_filer_tb_dv .table td:last-child {
        min-width: 250px !important;
    }
}

@media only screen and (max-width: 992px) {
    #filter {
        border-radius: 5px !important;
    }

    .f_asearch_tlt_dv {
        background: #0092c5;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: bold;
        color: white;
    }

    #filter.f_asearch_tlt_dv.open {
        border-radius: 5px 5px 0 0 !important;
    }
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top: 50% !important;
    left: 50%;
    width: 200px;
    margin-top: -26px;
    height: 70px;
    margin-left: -100px;
    border: aqua 2px solid;
    border-radius: 3px;
    background: rgba( 255, 255, 255 )
                url(../imgs/loading.gif)
                50% 50%
                no-repeat;
}

.col-5-columns {
    width: 20% !important;
    float: left;
}

.active {
    border: blue 4px solid;
}

.active > img {
    max-width: 98% !important;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
/*body.loading {*/
    /*overflow: hidden;*/
/*}*/

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}